
<div style="padding-bottom: 150px; background-color: rgba(135, 207, 235, 0.459) ">
    <h1 style="text-align: center;"> Login Screen</h1>
    
        <div
        style="max-width: 900px; margin: auto; margin-top: 40px; border: 3px solid brown; background-color: rgba(255, 228, 196, 0.788); padding: 50px; text-align: center; box-shadow: 5px 10px;">
        <div class="inp" style="text-align: center; ">

            <mat-form-field style="width: 80%;">
                <mat-label style="font-size: 20px; color: rgba(255, 0, 0, 0.801) ; font-family: cursive; padding-left: 10px;">Email ID</mat-label>
                <input matInput name="email" [(ngModel)]="email" style="background-color: white; font-size: 17px; height:30px; 
                    font-weight: 300; background-color: white;padding-left: 10px;">
            </mat-form-field>

            <mat-form-field style="width: 80%;">
                <mat-label style="font-size: 20px; color: rgba(255, 0, 0, 0.801) ; font-family: cursive; padding-left: 10px;">Password</mat-label>
                <input matInput name="password" [(ngModel)]="password" style="background-color: white; font-size: 17px; height:30px; 
                    font-weight: 300; background-color: white;padding-left: 10px;">
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="this.Login(email,password)"
                style="width: 80%; height: 35px; font-size: 18px; margin-bottom: 10px;" >LOGIN</button>
            <button mat-raised-button color="warn"
                style="width: 80%; height: 35px; font-size: 18px;  border-radius: 5px; margin-bottom: 30px;"
                [routerLink]="'/signup'">Create
                Account
            </button>

            <p>{{this.result}}</p>
        </div>
        
    </div>
