<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 6px 6px;
        font-size: 16px;
        cursor: pointer;
    }

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }
</style>

<div style="padding-bottom: 150px; background-color: rgba(135, 207, 235, 0.459) ">
    <h1 style="text-align: center;"> Todo App</h1>
    <div
        style="max-width: 900px; margin: auto; margin-top: 40px; border: 3px solid brown; background-color: rgba(255, 228, 196, 0.788); padding: 50px; text-align: center; box-shadow: 5px 10px;">
        <p style="font-family: cursive; font-size: 20px;margin: 20px;">User : <b>{{this.email}}</b></p>
        <br><br><table style="width: 100%;">
            <tr>
                <th>
                    <mat-form-field style="background-color: white; width: 80%; border: 1px solid brown; border-radius: 3px;">
                        <mat-label style="padding-left: 10px;">ENTER YOUR TODO HERE</mat-label>
                        <input matInput name="tod" [(ngModel)]="tod" style="padding-left: 10px; font-family: 'Times New Roman', Times, serif;
                        margin-left: 10px; background-color: rgba(255, 248, 220, 0.411); " >
                      </mat-form-field>
                </th>
            </tr><br>
            <tr>
                <th>
                    <mat-form-field appearance="fill" style="width: 80%; background-color: white; border: 1px solid brown;">
                        <mat-label>TODO DESCRIPTION</mat-label>
                        <textarea matInput name="des" [(ngModel)]="des" style="font-family: 'Times New Roman', Times, serif;"></textarea>
                      </mat-form-field>
                </th>
            </tr>
        </table>
        <br><br>
        <table style="width: 100%; margin-left: 0px;">
            <th>
                <button mat-raised-button color="warn"
                style="width: 80%; height: 35px; font-size: 18px;  border-radius: 5px; margin-bottom: 0px;"
                 (click)="this.data.AddTodo(tod,des,this.email)">ADD TODO
            </button>
            </th>
        </table>
        <br>
        <table style="width: 100%; margin-left: 0px; ">
            <th>
                <button mat-raised-button color="warn"
                style="width: 80%; height: 35px; font-size: 18px;  border-radius: 5px; margin-bottom: 30px;"
                [routerLink]="['/display',this.email]" >DISPLAY TODO
            </button>
            </th>
        </table>
    </div>


</div>