<div style="padding-top: 50px; padding-bottom: 50px; background-color: rgba(135, 207, 235, 0.459) ">
    <div
        style="max-width: 900px; margin: auto; margin-top: 40px; border: 3px solid brown; background-color: rgba(255, 228, 196, 0.788); padding: 50px; text-align: center; box-shadow: 5px 10px;">
        <h2 style="font-family: cursive;">TODO Items</h2>
        <p style="font-family : cursive; font-size : 20px;">User : <b>{{this.email}}</b></p>
        <h3>Quantity : {{this.data.todoList.length}}</h3>
        <table
            style="text-align: left; width: 100%; background-color: aquamarine; padding: 20px; box-shadow: 5px 10px;">
            <h2 *ngIf="this.data.todoList.length==0" style="font-family: cursive;">List is empty</h2>
            <div style="border: 3px solid #318a82e3; padding: 10px; margin: 10px; box-shadow: 5px 10px;"
                *ngFor="let item of this.data.todoList">
                <tr>
                    <td style="width: 90%;"><b>Todo</b> : {{item.todo}}</td>
                    <td>
                        <button class="btn" style="margin-left: 30px; margin-top: 10px; margin-right: 90px;"
                            type="submit" (click)="this.data.deleteTodo(item.todo,item.description,this.email)">
                            <i class="fa fa-trash">_Delete</i></button>
                        <!-- <button class="btn"><i class="fa fa-trash"></i></button> -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Todo description</b> : {{item.description}}
                    </td>
                    <td>
                        <b>Date</b> : {{item.date}}
                    </td>
                </tr>
                <br>
            </div>
        </table>
        <button
            style=" margin-top: 50px; width: 80%; height: 30px; height: 40px; border-radius: 4px; box-shadow: black; font-size: 20px; font-family: cursive; background-color: chocolate;"
            (click)="back()" type="submit">Add Todo</button>

        <button
            style=" margin-bottom: 50px; margin-top: 30px; width: 80%; height: 30px; height: 40px; border-radius: 4px; box-shadow: black; font-size: 20px; font-family: cursive; background-color: chocolate;"
            [routerLink]="'/'" type="submit">LOGOUT</button>
    </div>
</div>